@charset "UTF-8";

.chatListTable{border:1px solid #afb4db; border-collapse:collapse; margin-top : 20px;width:100%;}
.chatListTable th{background-color: rgb(97, 154, 245); color:white; font-weight:bold; padding:10px; text-align: center;}
.chatListTable td{text-align:right; padding:5px; cursor:pointer;}
